fastapi
uvicorn[standard]
requests
pika
pydantic
prometheus-fastapi-instrumentator
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-pika